:root {
    --cor-primaria: #070831;
    --cor-secundaria: #fff4d5;
    --cor-terciaria: #7b8b9c;
    --cor-quaternaria: #db7a2a;
    --cor-rodape: #2f552f;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: .6em;
    font-family: "Sonsie One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5em;
    color: var(--cor-quaternaria);
    letter-spacing: -.1em;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30%;
    right: 0;
    width: 10%;
    gap: 1.5em;
}

#nav a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 2em;
}

#icone__home {
    background-image: url(assets/icones/botao-home.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out; 
}

#icone__home:hover,
#icone__home.active,
#icone__home:focus {
    background-image: url(assets/icones/botao-home-hover.png);
    transform: scale(1.15);
}

#icone__sobre-mim {
    background-image: url(assets/icones/botao-sobre-mim.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    transition: all 0.2s ease-in-out; 
}

#icone__sobre-mim:hover,
#icone__sobre-mim.active,
#icone__sobre-mim:focus {
    background-image: url(assets/icones/botao-sobre-mim-hover.png);
    transform: scale(1.1);
}

#icone__habilidades {
    background-image: url(assets/icones/botao-habilidades.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out; 
}

#icone__habilidades:hover,
#icone__habilidades.active,
#icone__habilidades:focus {
    background-image: url(assets/icones/botao-habilidades-hover.png);
    transform: scale(1.1);
}

#icone__projetos {
    background-image: url(assets/icones/botao-projetos.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out; 
}

#icone__projetos:hover,
#icone__projetos.active,
#icone__projetos:focus {
    background-image: url(assets/icones/botao-projetos-hover.png);
    transform: scale(1.15);
}

#icone__rodape {
    background-image: url(assets/icones/botao-rodape.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease-in-out; 
}

#icone__rodape:hover,
#icone__rodape.active,
#icone__rodape:focus {
    background-image: url(assets/icones/botao-rodape-hover.png);
    transform: scale(1.1);
}

.container-secoes {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container-secoes__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}


.secao-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 80vh;
    width: 60%;
}

.secao-principal__container-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 1em;
}

.titulos {
    font-size: 4em;
    font-weight: 700;
}

.paragrafos {
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.secao-principal__titulo {
    font-size: 6em;
    font-weight: 700;
    color: var(--cor-quaternaria);
}

.secao-principal__paragrafo {
    font-size: 2em;
    line-height: 2em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.secao-principal__container-imagem {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.container-imagem__imagem {
    height: 600px;
    width: 600px;
    object-fit: cover;
    object-position: -20px -100px;
    transform: scaleX(-1);
    filter: sepia(100%);
}

.secoes-secundarias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-terciaria);
}

.secoes-secundarias__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    height: 80%;

}

.secao__sobre-mim__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.secoes-secundarias__titulo {
    font-size: 5em;
    font-weight: 700;
}


.secoes-secundarias__paragrafo {
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 2em;
}

.secao__sobre-mim__container__particao-1 {
    margin-top: -25em;
    width: 50%;
}

.secao__sobre-mim__container__particao-2 {
    margin-top: 25em;
    width: 50%;
}

#habilidades {
    background-color: var(--cor-primaria);
}

.section-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 6em;
    gap: 2rem;
    height: 100vh;
    width: 100%;
}

.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-projetos__linhas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.secao__rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101vh;
    width: 100%;
    background-color: var(--cor-rodape);
}