:root {
    --cor-primaria: #213555;
    --cor-secundaria: #ffecd3;
    --cor-terciaria: #4F709C;
    --cor-quaternaria: #e28436;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    right: 40px;
    width: 10%;
    min-height: 70px;
    padding: 1em;
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-quaternaria);
    color: var(--cor-secundaria);
    gap: 2em;
}

#header a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 2em;
}

.container-secoes {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container-secoes__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}


.secao-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 80vh;
    width: 60%;
}

.secao-principal__container-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 1em;
}

.titulos {
    font-size: 4em;
    font-weight: 700;
}

.paragrafos {
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.secao-principal__titulo {
    font-size: 6em;
    font-weight: 700;
    color: var(--cor-quaternaria);
}

.secao-principal__paragrafo {
    font-size: 2em;
    line-height: 2em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.secao-principal__container-imagem {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-imagem__imagem {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secoes-secundarias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.secoes-secundarias__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.secoes-secundarias__titulo {
    font-size: 5em;
    font-weight: 700;
}

.titulo-secao-2 {
    color: var(--cor-primaria);
}

.secoes-secundarias__paragrafo {
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight: 400;
    color: var(--cor-primaria);
    margin-top: 2em;
}

.container__particao-1 {
    margin-top: -25em;
}

.container__particao-2 {
    margin-top: 25em;
}

.section-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 6em;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-projetos__linhas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}